/* list.css */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(45deg, #50C878, #008080);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.layout {
    width: 500px;
    margin: 0 auto;
    margin-top: 40px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #50C878;
    color: white;
}

td a {
    color: #008080;
    text-decoration: none;
}

td a:hover {
    text-decoration: underline;
}

form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px 0 0 5px;
    outline: none;
}

button {
    padding: 10px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #008080;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #50C878;
    transform: scale(1.05);
}

strong {
    color: #004d40;
}

/* 페이지 버튼 스타일 추가 */
.pagination a, .pagination strong {
    display: inline-block;
    margin: 0 5px;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    background-color: #50C878;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.pagination a:hover {
    background-color: #008080;
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.pagination strong {
    background-color: #004d40;
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    pointer-events: none;
}
