<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
    <link rel="stylesheet" href="/css/view.css">
</head>
<body>

<header>
    <div class="logo">
        <img src="/path/to/logo.png" alt="Logo">
    </div>
    <nav>
        <ul>
            <li><a href="/board/write">글쓰기</a></li>
            <li><a href="/board">게시판</a></li>
            <li><a href="/contact">연락처</a></li>
            <li><a href="/about">소개</a></li>
        </ul>
    </nav>
</header>

<div class="container">
    <h1 th:text="${board.title}">제목입니다.</h1>
    <p th:text="${board.content}">내용</p>
    <a th:href="@{/board/delete(id=${board.id})}">글삭제</a>
    <a th:href="@{/board/modify/{id}(id=${board.id})}">수정</a>
</div>

</body>
</html>
